<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAUFL6WacS7oh3N84phmhEpKoIsVozj_Y0</string>
	<key>GCM_SENDER_ID</key>
	<string>745086099945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pratik-82438</string>
	<key>STORAGE_BUCKET</key>
	<string>pratik-82438.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745086099945:ios:6ccbbedca2016b087c6b78</string>
	<key>DATABASE_URL</key>
	<string>https://pratik-82438-default-rtdb.firebaseio.com</string>
</dict>
</plist>